:root {
  --white: #eee;
  --black: #333;
  --red: #b11;
  --font: 'Open Sans', sans-serif;
  --pad-box: 2rem;
  --pad-input: 0.6rem 1rem;
  --radius: 0.2rem;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

body {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: var(--black);
  color: var(--black);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30rem));
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: var(--pad-box) 0;
}

.loan-box, .loan-result {
  background-color: var(--white);
  border-radius: var(--radius);
  padding: var(--pad-box);
}
@media screen and (min-width: 480px) {
  .loan-box, .loan-result {
    min-width: 30rem;
  }
}

.loan-result {
  display: none;
}
.loan-result.on {
  display: block;
}

.loan-title, .loan-result-title {
  color: var(--red);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;
}

.loan-form {
  display: grid;
  grid-row-gap: var(--pad-box);
  margin: 3rem 0 2rem;
}

.loan-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.loan-label {
  color: var(--red);
  position: absolute;
  font-size: .8rem;
  text-transform: uppercase;
  top: -1.4rem;
}

.loan-icon {
  background: var(--red);
  border-bottom: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-top: 1px solid var(--black);
  border-radius: var(--radius) 0 0 var(--radius);
  color: var(--white);
  display: block;
  padding: var(--pad-input);
  text-align: center;
  width: 4.5rem;
}

.loan-input {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 0 var(--radius) var(--radius) 0;
  font-size: 1rem;
  outline: none;
  padding: var(--pad-input);
  width: 100%;
}
.loan-input[type="number"] {
  border-radius: var(--radius);
}

.warning {
  background: var(--red);
  border-radius: var(--radius);
  color: var(--white);
  display: none;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 2rem;
  padding: var(--pad-input);
  text-align: center;
}
.warning.on {
  display: block;
}

.calculate-btn {
  background: var(--red);
  border: none;
  border-radius: var(--radius);
  color: var(--white);
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  font-weight: 800;
  padding: var(--pad-input);
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
.calculate-btn:hover {
  background: var(--black);
}

.loan-spinner {
  -ms-flex-item-align: center;
      align-self: center;
  display: none;
  padding: var(--pad-box);
}
.loan-spinner.on {
  display: block;
}

.fa-spinner {
  color: var(--white);
  display: block;
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
}

.result-wrapper {
  margin: 1.7rem 0;
}

.result-subtitle {
  color: var(--red);
  font-size: .8rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.result {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: var(--radius);
  margin-bottom: 1rem;
  outline: none;
  padding: var(--pad-input);
  width: 100%;
}
