.loan-spinner {
  display: none;
  padding: var(--pad-box);
}

.fa-spinner {
  color: var(--white);
  display: block;
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
}

.result-wrapper {
  margin: 1.7rem 0;
}

.result-subtitle {
  color: var(--red);
  font-size: .8rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.result {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: var(--radius);
  line-height: 1.15;
  margin-bottom: 1rem;
  outline: none;
  padding: var(--pad-input);
  width: 100%;
}